@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

h1 { 
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    font-size: 62px;
} 

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: white;
}

header{
    color: gray;
    position: sticky;
    top: 0;
    background-color: black;
}

.contacts, .contacts div:last-child, .work_info, .work_info div:first-child, .nav_wrap, .nav_wrap div:last-child, .menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.contacts, .nav_wrap{
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
}

.work_info{
    font-size: 11px;
}

.work_info div{
    padding: 0 20px;
}

.work_info img{
    margin-right: 15px;
    margin-top: 3px;
    height: 14px;
}

.login_menu a{
    margin-left: 15px;
    margin-right: 20px;
    font-size: 11px;
}

.login_menu img:first-of-type{
    width: 8px;
}

.login_menu img:last-of-type{
    width: 7px;
    margin-left: -5px;
}

nav{

    background-color: #0f0f0f;
}

.nav_wrap{
    padding: 0 20px;
}

.nav_wrap p{
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Stick No Bills', sans-serif;
}

.menu a{
    padding: 30px 20px;
    font-size: 14px;
    transition: all 0.3s;
}

.menu a:hover{
    background-color: #1f1f1f;
}

.cart{
    margin-left: 30px;
    display: flex;
    flex-flow: column nowrap;
}

.cart img{
    height: 14px;
}

.cart a div img:first-of-type{
    margin-left: 7px;
}


.cart a div img{
    margin-left: 2px;
    height: 4px;
    margin-top: -2px;
}

.lupa{
    margin-left: 40px;
}

.lupa img{
    height: 18px;
}

.intro{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background: url(../img/Rectangle\ 3.png) center no-repeat;
    background-size: cover;
    padding: 145px 10%;
    text-align: center;
}


.intro p{
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
    margin: 80px auto 0;
}

.square{
    border: 4px white solid;
    padding: 100px 60px;
}

.square h1{
    border-bottom: 2px solid white;
}

.square p{
    font-size: 23px;
    text-align: center;
    margin: 0;
    width: 100%;
}

.season{
    display: grid;
    grid-template-columns: repeat(2, 54% 46%);
}

.newest{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
}

.newest h2{
    margin-bottom: 25px;
}

.line{
    width: 120px;
    padding-top: 1px;
    background-color: white;
    margin: 20px auto;
}

.newest_items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
    font-family: 'Playfair Display', serif;
}

.item{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.item img{
    padding: 50px 20px;
    background: #191b1c;
    margin-bottom: 20px;
    width: 100%;
}

.item p{
    margin: 5px 0;
    font-weight: 400;
    font-size: 18px;
}

.item p:last-child{
    margin-top: 2px;
    font-size: 16px;
}

.new_collection{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/Rectangle\ 8.png);
    background-size: cover;
    padding-bottom: 100px;
}

.new_collection a{
    margin-top: 11px;
    padding: 10px 30px;
    border: 1px solid white;
    font-size: 18px;
    letter-spacing: 2px;
}

.collection_2018{
    display: grid;
    grid-template-columns: repeat(2, 46% 54%);
}

.collection_2018 div:first-child{
    background: url(../img/Rectangle\ 9.png) center no-repeat;
    background-size: cover;
}

.info_2018{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 30%;
}

.info_2018 h2{
    font-weight: 400;
    margin-bottom: 10px;
}

.info_2018 p{
    margin-top: 20px;
    font-size: 14px;
}

.info_2018 a{
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 60px;
    padding: 10px 30px;
    border: 1px solid white;
}

.new_arrivals{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 130px 0;
}

.new_arrivals h2{
    margin-bottom: 20px;
}

.arrival_items{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 25px;
    row-gap: 30px;
    font-family: 'Playfair Display', serif;
}

.brands{
    background-color: #0f0f0f;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.brands h2{
    margin-bottom: 20px;
}

.brand_list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 25px;
}

.info{
    background: url(../img/Rectangle\ 15.png) center no-repeat;
    background-size: cover;
}

.info_wrap{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33% 33% 33%);
    column-gap: 20px;
    padding: 100px 0;
}

.info_wrap h3{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 40px;
}

.about p{
    font-size: 13px;
}

.categories div{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.categories a{
    margin: 0 10px 20px;
    font-size: 13px;
    padding: 12px 22px;
    background-color: #0f0f0f;
}

.mailing p{
    font-size: 13px;
    margin-bottom: 35px;
}

.mailing form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.mailing form input[type="email"]{
    background-color: #ffffff70;
    border: none;
    padding: 9px 15px;
    outline: none;
    width: 210px;
}

.mailing form input[type="email"]::placeholder{
    color: rgba(255, 255, 255, 0.582);
    font-size: 14px;
}

.mailing form input[type="submit"]{
    background-color: #0f0f0f;
    font-size: 14px;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 140px;
}

.mailing form input:focus{
    border: none;
}

.copy_wrap{
    background: #0f0f0f;
    padding: 20px 0;
}

.copy{
    width: 60%;
    margin: 0 auto;
    font-size: 11px;
}

.mobile_menu_btn{
    display: none;
}

.mobile_btn_wrap{
    display: none;
}

@media screen and (max-width: 1200px) {
    .contacts, .nav_wrap{
        width: 80%;
    }

    .intro>p{
        width: 80%;
    }

    .info_2018{
        padding: 120px 10%;
    }

    .arrival_items{
        grid-template-columns: repeat(3, auto);
    }

    .brand_list img{
        width: 100%;
    }

    .brands{
        padding: 70px 50px;
    }

    .info_wrap{
        width: 80%;
    }

    .copy{
        width: 80%;
    }

    .mailing form input[type="email"]{
        width: 150px;
    }
    
    .mailing form input[type="submit"]{
        width: 120px;
        font-size: 12px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 1024px) {
    .contacts, .nav_wrap{
        width: 90%;
    }

    .intro>p{
        width: 90%;
        font-size: 14px;
    }

    .intro{
        padding: 100px 10%;
    }

    .square{
        border: 4px white solid;
        padding: 70px 30px;
    }

    .square p{
        font-size: 22px;
    }

    h1 { 
        font-family: 'Stick No Bills', sans-serif;
        font-weight: 600;
        font-size: 62px;
    } 
    
    h2{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 25px;
        margin: 0;
    }
    
    .work_info{
        font-size: 9px;
    }

    .work_info div{
        padding: 0 10px;
    }

    .login_menu a{
        font-size: 9px;
    }

    .menu a{
        padding: 25px 20px;
        font-size: 11px;
        transition: all 0.3s;
    }

    .cart{
        margin-left: 20px;
    }
    
    .lupa{
        margin-left: 20px;
    }

    .season{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .new_collection{
        justify-content: center;
        padding: 50px;
    }
    
    .collection_2018{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    
    .info_2018{
        padding: 80px 10%;
    }

    .new_arrivals{
        padding: 20px 0 50px;
    }

    .arrival_items{
        padding: 0 30px;
    }

    .brands{
        padding: 50px 50px;
    }

    .info_wrap{
        width: 80%;
        grid-template-columns: repeat(1, auto);
        row-gap: 40px;
        padding: 50px 0;
    }

    .mailing form input[type="email"]{
        width: 210px;
    }
    
    .mailing form input[type="submit"]{
        width: 140px;
        padding: 12px 10px;
    }

}

@media screen and (max-width: 768px) {

    .mobile_btn_wrap{
        display: block;
        height: 50px;
        content: " ";
        position: fixed;
        width: 50px;
        top: 0px;
        left: 15px;
        
    }

    .mobile_menu_btn{
        padding-top: 4px;
        width: 40px;
        background-color: white;
        position: fixed;
        top: 25px;
        left: 20px;
        display: block;
    }

    .mobile_menu_btn::before{
        content: " ";
        padding-top: 4px;
        width: 40px;
        background-color: white;
        position: fixed;
        top: 11px;
        left: 20px;
        display: block;
    }

    .mobile_menu_btn::after{
        content: " ";
        padding-top: 4px;
        width: 40px;
        background-color: white;
        position: fixed;
        top: 38px;
        left: 20px;
        display: block;
    }

    .contacts{
        padding: 2px 0;
        position: fixed;
        right: 0;
        top: 53px;
        color: white;
        background-color: #1f1f1f;
        z-index: -1;
        width: 100vw;
    }

    .work_info{
        padding-left: 10px;
    }
    .work_info>div{
        margin: 2px 0;
    }

    .work_info>p{
        display: none;
    }

    .work_info>div>img{
        margin-right: 7px;
        margin-top: 0px;
        height: 12px;
    }

    .login_menu{
        color: white;
    }

    .login_menu>a{
        margin-left: 7px;
        font-size: 10px;
    }
    .login_menu>img:first-of-type{
        width: 11px;
    }
    
    .login_menu>img:last-of-type{
        width: 10px;
        margin-left: -7px;
    }
    .nav_wrap{
        justify-content: center;
    }

    .nav_wrap>div:last-child{
        padding-top: 55px;
        flex-flow: column-reverse nowrap;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: -50vh;
        height: 0;
        visibility: hidden ;
        transition: all 0.5s;
        z-index: -1;
        width: 100vw;
    }

    .menu{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .menu a{
        padding: 3vh 20px;
        font-size: 20px;
        transition: all 0.1s;
    }

    .menu a:hover{
        background: none;
    }
    
    .cart{
        margin-left: 0;
        margin-bottom: 5vh;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .cart img{
        height: 30px;
    }
    
    .cart a div img:first-of-type{
        margin-left: 15px;
    }
    
    
    .cart a div img{
        margin-left: 5px;
        height: 8px;
        margin-top: 0px;
    }
    
    .lupa{
        margin-left: 40px;
        margin-bottom: 5vh;
    }
    
    .lupa img{
        height: 35px;
    }
    
    .nav_wrap div:last-child.menu_mob{
        visibility: visible !important;
        top: 0 !important;
        position: fixed;
        height: 100vh;
        background-color: black;
    }
    
    .brand_list{
        grid-template-columns: repeat(2, auto);
        row-gap: 20px;
    }
}

@media screen and (max-width: 565px) {

    body > main > section.intro > p{
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    body > header > div > div.work_info > div:nth-child(3){
        display: none;
    }

    body > header > div > div.work_info > div:nth-child(5){
        display: none;
    }

    .arrival_items{
        grid-template-columns: repeat(2, auto);
    }

    .newest{
        padding: 50px 30px;
    }

    .newest_items {
        grid-template-columns: repeat(2, auto);
        row-gap: 40px;
    }

    .mailing form input[type="email"]{
        width: 40vw;
    }
    
    .mailing form input[type="submit"]{
        width: 40vw;
        padding: 12px 10px;
    }
}

@media screen and (max-width: 320px) {
    body > header > div > div.work_info > div:nth-child(3){
        display: none;
    }

    body > header > div > div.work_info > div:nth-child(5){
        display: none;
    }

    .arrival_items{
        grid-template-columns: repeat(1, auto);
        row-gap: 50px;
    }

    .newest{
        padding: 50px 30px;
    }

    .newest_items {
        grid-template-columns: repeat(1, auto);
        row-gap: 40px;
    }

    .mailing form input[type="email"]{
        width: 40vw;
    }
    
    .mailing form input[type="submit"]{
        width: 40vw;
        padding: 12px 10px;
    }

    .brand_list{
        grid-template-columns: repeat(1, auto);
        row-gap: 50px;
    }
}