@import "./variables";
@import "./animations";

.contacts_body{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/kot.jpg) center top;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 150px;

    .contacts{
        border-radius: 15px;
        border: 2px solid $secondary-color;
        width: 40%;
        color: $text-color;
        background-color: $dark-bg-color;
        text-align: center;
        margin: 100px auto 0;  

        .contacts_text{
            margin: 80px 0;

            .contacts_item{
                font-size: 1.1em;

                p{
                    margin: 25px;
                }
            }
        }
    }

}
