@import "./variables";
@import "./animations";

@mixin home-bg {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    transition: all 1s;
    background-size: cover;
}

.home-outer-bg{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/popuga.jpg) center;
    @include home-bg();
}

.home-bg-1{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/sova.jpg) center;
    @include home-bg();
}


.home-bg-2{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/belka.jpg) center;
    @include home-bg();
}


.home-bg-3{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/les2.jpg) center;
    @include home-bg();
}


.home-bg-4{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/medved.jpg) center;
    @include home-bg();
}


.home-bg-5{
    background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.8)), url(../img/orel.jpg) center;
    @include home-bg();
}

main{
    .home_text{
        width: 100%;
        position: absolute;
        top: 40vh;
        z-index: 4;

        h1{
            margin: 0 auto;
            text-align: center;
            font-size: 4em;
            color: $secondary-color;
            text-shadow: 
                2px 2px  2px $header-border;
            font-weight: 600;
        }

        h2{
            font-weight: 400;
            text-align: center;
            margin: 0 auto;
        }
    }
    
}

.home_footer{
    position: absolute;
    bottom: 0;
    z-index: 4;
    
    p{
        margin-left: 5vw;
        margin-bottom: 2vw;
        color: $secondary-color;
    }
}

.header_home{
    position: absolute;
    top: 0;
    z-index: 3;
}

.invisible{
    opacity: 0;
}