@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, p, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333333;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

a:hover{
    color: #D1A954;
}

header nav{
    position: fixed;
    visibility: hidden;
}

header{
    position: fixed;
    top: 0;
}

.menu_btn{
    position: fixed;
    top: 55px;
    left: 35px;
}

header>a{
    position: fixed;
    top: 55px;
    right: 30px;
    border-bottom: #D1A954 2px solid;
    padding-bottom: 3px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    transform: scale(1,1.2);
    letter-spacing: 1px;
}

.main{
    background: url(../img/Rectangle\ 3.png) center no-repeat;
    background-size: cover;
    padding: 200px 35px 120px;
}

h1{
    font-size: 44px;
    letter-spacing: 8px;
    font-weight: 700;
    transform: scale(1,1.5);
    text-align: center;
    margin-bottom: 50px;
}

.main>.main_about>p{
    font-size: 15px;
    margin-bottom: 60px;
}

.main>.main_about>a{
    display: inline-block;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: 600;
    background: #D1A954;
    transform: scale(1,1.2);
    letter-spacing: 2px;
}

.about{
    padding: 80px 35px;
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

h2{
    font-weight: 100;
    font-size: 32px;
    transform: scale(1,1.5);
    letter-spacing: 6px;
    margin-bottom: 70px;
    text-align: center;
}

h2>span{
    color: #D1A954;
}

h3{
    text-transform: uppercase;
    font-size: 14px;
    transform: scale(1,1.5);
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 35px;
}

.about_wrap>div>p{
    font-size: 15px;
    margin-bottom: 50px
}

.numbers{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.about_wrap>div>.numbers span{
    color: #D1A954;
}

.chair, .history{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.about_wrap>div>.numbers>div>img{
    margin-bottom: 15px;
}

.about_wrap>div>.numbers>div>p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

.about_wrap>img{
    display: none;
}

.chair{
    margin-right: 55px;
}

.rating{
    padding: 120px 35px;
    background: url(../img/Rectangle\ 28.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.rating>ul{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    list-style: none;
    font-size: 72px;
    letter-spacing: 10px;
    color: #D1A954;
}

.rating>ul>li{
    margin-top: -10px;
}

.review{
    margin-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}

.review>div{
    display: flex;
    flex-flow: row nowrap;  
}

.review>div>img{
    width: 22px;
    transform: scale(1,1.2);
    margin-right: 20px;
}

.review>div>img:last-of-type{
    margin-right: 0;
}

.review>p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 28px;
}

.partners{
    padding: 120px 35px;
}

.maecenas{
    padding: 120px 35px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 576px;
}

form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

form>fieldset{
    display: grid;
    grid-template-columns: repeat(2,230px);
    column-gap: 50px;
    row-gap: 30px;
    margin-bottom: 30px;
}

input[type="text"], input[type="email"]{
    background: #444444;
    border: 1px solid #616161;
    color: #989898;
    max-width: 230px;
    width: 100%;
    height: 35px;
    outline: none;
    padding: 5px 15px 8px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder{
    color: #989898;
    font-size: 12px;
    font-weight: 600;
}

textarea{
    width: 100%;
    background: #444444;
    border: 1px solid #616161;
    color: #989898;
    outline: none;
    padding: 8px 15px;
    margin-bottom: 50px;
    height: 100px;
}

input[type="submit"]{
    color: white;
    display: inline-block;
    padding: 7px 45px;
    font-size: 13px;
    font-weight: bold;
    background: #D1A954;
    text-transform: uppercase;
    transform: scale(1,1.5);
    letter-spacing: 2px;
    border: none;
    margin-bottom: 40px;
    max-width: 190px;
}

form>p{
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    color: #989898;
    margin-bottom: 50px;
}

.contact_info{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    transform: scale(1,1.2);
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    row-gap: 15px;
}

.contact_phone_1{
    grid-row: 1;
    grid-column: 1;
    text-align: start;
    white-space: nowrap;
}

.contact_phone_2{
    grid-row: 2;
    grid-column: 1;
    text-align: start;
}

.contact_email{
    grid-row: 1;
    grid-column: 2;
    text-align: end;
}

.contact_address{
    grid-row: 2;
    grid-column: 2;
    text-align: end;
}

footer{
    max-width: 576px;
    margin: 0 auto;
}

hr{
    margin: 0 35px;
}

footer>div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 35px;
}

footer>div>p{
    color: #989898;
    font-size: 12px;
}


@media screen and (min-width: 768px) {
    .main{
        padding: 250px 100px 250px;
    }

    .about{
        max-width: 768px;
    }

    .about_wrap{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 40px;
    }

    .about h3{
        text-align: start;
    }

    .about p{
        text-align: start;
    }

    .numbers{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .chair{
        margin-bottom: 20px;
    }

    .rating{
        padding: 120px 100px;
    }

    form{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 30px;
        row-gap: 35px;
        margin-bottom: 70px;
    }

    input[type="submit"]{
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 0;
        align-self: start;
        justify-self: end;
        margin-top: 10px;
        width: 190px;
    }

    form>p{
        text-align: start;
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        width: 100%;
    }

    form>fieldset{
        grid-template-columns: repeat(2,190px);
        column-gap: 30px;
        margin-bottom: 0;
    }

    input[type="text"], input[type="email"]{
        max-width: 180px;
    }

    textarea{
        width: 270px;
        margin-bottom: 0;
    }

    .maecenas{
        max-width: 768px;
    }

    footer{
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .about{
        padding: 170px 111px 110px 190px;
        max-width: 992px;
    }

    h2{
        margin-bottom: 120px;
    }

    .rating{
        padding: 120px 100px 120px 200px;
    }

    .review{
        margin-left: 80px;
    }

    .review>p{
        font-size: 34px;
    }

    .maecenas{
        padding: 120px 111px 40px 191px;
    }

    form{
        max-width: 691px;
        margin-left: auto;
        margin-right: auto;
    }

    hr{
        margin: 0 111px 0 191px;
    }

    footer>div{
        padding: 30px 111px 30px 191px;
    }

    .maecenas{
        max-width: 992px;
    }

    footer{
        max-width: 992px;
    }
}

@media screen and (min-width: 1366px) {

    .maecenas_wrap{
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 1110px;
        margin: 0 auto;
    }

    .contact_info{
        margin-top: 10px;
        grid-template-columns: repeat(1,auto);
        row-gap: 15px;
    }

    .contact_phone_1{
        grid-row: 1;
        grid-column: 1;
        text-align: start;
        white-space: nowrap;
    }
    
    .contact_phone_2{
        grid-row: 2;
        grid-column: 1;
        text-align: start;
    }
    
    .contact_email{
        grid-row: 3;
        grid-column: 1;
        text-align: start;
    }
    
    .contact_address{
        grid-row: 4;
        grid-column: 1;
        text-align: start;
    }

    form{
        max-width: 745px;
        margin-right: 0;
    }

    textarea{
        width: 310px;
    }

    .rating{
        max-width: 1110px;
        margin: 0 auto;
    }

    .review{
        margin-left: 120px;
    }

    .maecenas{
        padding-left: 0;
        padding-right: 0;
        max-width: 1366px;
    }

    hr{
        max-width: 1110px;
        margin: 0 auto;
    }

    footer>div{
        padding: 30px 0;
        max-width: 1110px;
        margin: 0 auto;
    }

    .about{
        padding-left: 0;
        padding-right: 0;
        max-width: 1366px;
    }

    .about_wrap{
        grid-template-columns: repeat(3,auto);
        max-width: 1110px;
        margin: 0 auto;
    }

    .about_wrap>img{
        display: inline-block;
    }

    footer{
        max-width: 1366px;
    }
}