@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, p, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333333;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

a:hover{
    color: #D1A954;
}

header nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    transition: all 0.5s;
    top: 0;
    left: -100vw;
    overflow-x: hidden;
    padding: 30px;
    width: 300px;
    height: 100vh;
    background-color: #333333;
    z-index: 2;
    overflow-y: auto;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 110px;
    transition: all 0.5s;
    z-index: 2;
}

.menu_btn{
    position: fixed;
    top: 55px;
    left: 35px;
    cursor: pointer;
}

.close_btn{
    margin-right: 10px;
    margin-bottom: 70px;
    cursor: pointer;
    align-self: flex-end;
}


.menu_links{
    align-self: flex-start;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 5px;
}

.menu_links>a{
    font-weight: 600;
    font-size: 23px;
    margin: 15px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
}

.logos_mob{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    column-gap: 45px;
    row-gap: 50px;
}

.logos_mob>a:first-of-type{
    display: flex;
    justify-content: center;
}

.menu_mob{
    left: 0;
    padding-bottom: 100px;
}

.menu_mob>.menu_links>a{
    letter-spacing: 2px;
}

header>a{
    position: fixed;
    top: 55px;
    right: 30px;
    border-bottom: #D1A954 2px solid;
    padding-bottom: 1px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main{
    background: url(../img/Rectangle\ 3.png) center no-repeat;
    background-size: cover;
    padding: 200px 35px 120px;
}

.sidebar{
    display: none;
}

h1{
    font-size: 64px;
    letter-spacing: 6px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main>.main_wrap>.main_about>p{
    font-size: 14px;
    margin-bottom: 60px;
}

.main>.main_wrap>.main_about>a{
    padding: 14px 45px;
    font-size: 18px;
    font-weight: 600;
    background: #D1A954;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main>.main_wrap>.main_about>a:hover{
    color: #333333;
    background-color: white;
}


.about{
    padding: 80px 35px;
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

h2{
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 6px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2>span{
    color: #D1A954;
}

h3{
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.about_wrap>div>p{
    font-size: 14px;
    margin-bottom: 50px
}

.numbers{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.about_wrap>div>.numbers span{
    color: #D1A954;
}

.chair, .history{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.about_wrap>div>.numbers>div>img{
    margin-bottom: 15px;
}

.about_wrap>div>.numbers>div>p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}

.about_wrap>img{
    display: none;
}

.chair{
    margin-right: 55px;
}

.rating{
    padding: 120px 35px;
    background: url(../img/Rectangle\ 28.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.rating>ul{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    list-style: none;
    font-size: 72px;
    letter-spacing: 10px;
    color: #D1A954;
}

.rating>ul>li{
    margin-top: -10px;
}

.review{
    margin-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}

.review>div{
    display: flex;
    flex-flow: row nowrap;  
}

.review>div>img{
    width: 22px;
    margin-right: 20px;
}

.review>div>img:last-of-type{
    margin-right: 0;
}

.review>p{
    font-weight: bold;
    font-size: 25px;
    margin-top: 28px;
}

.partners{
    padding: 120px 35px;
}

.maecenas{
    padding: 120px 35px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 576px;
}

form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

form>fieldset{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 45px;
    row-gap: 30px;
    margin-bottom: 30px;
}

input[type="text"], input[type="email"]{
    background: #444444;
    border: 1px solid #616161;
    color: #989898;
    max-width: 230px;
    width: 100%;
    height: 35px;
    outline: none;
    padding: 5px 15px 8px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder{
    color: #989898;
    font-size: 12px;
    font-weight: 600;
}

textarea{
    width: 100%;
    background: #444444;
    border: 1px solid #616161;
    color: #989898;
    outline: none;
    padding: 8px 15px;
    margin-bottom: 50px;
    height: 100px;
}

input[type="submit"]{
    color: white;
    padding: 14px 45px;
    font-size: 18px;
    font-weight: 600;
    background: #D1A954;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    margin-bottom: 40px;
    max-width: 190px;
    transition: all 0.5s;
    font-family: 'Open Sans Condensed', sans-serif;
}

input[type="submit"]:hover{
    color: #333333;
    background-color: white;
}


form>p{
    text-align: center;
    font-size: 12px;
    width: 85%;
    color: #989898;
    margin-bottom: 50px;
}

.contact_info{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    row-gap: 20px;
}

.contact_phone_1{
    grid-row: 1;
    grid-column: 1;
    text-align: start;
    white-space: nowrap;
}

.contact_phone_2{
    grid-row: 2;
    grid-column: 1;
    text-align: start;
}

.contact_email{
    grid-row: 1;
    grid-column: 2;
    text-align: end;
}

.contact_address{
    grid-row: 2;
    grid-column: 2;
    text-align: end;
}

footer{
    max-width: 576px;
    margin: 0 auto;
}


footer>div{
    border-top: 1px solid #565656;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px;
    padding: 30px 0;
}

footer>div>p{
    color: #989898;
    font-size: 12px;
}

.scroll_prevention{
    overflow: hidden;
}

.bg_darken{
    background-color: #333333ec;
    padding-bottom: 20px;
}

.pages{
    display: none;
}

.page{
    width: 370px;
    background: url(../img/image\ 3.png) no-repeat;
    background-position: right bottom;
    padding-right: 20px;
    padding-bottom: 20px;
}

.pages .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    margin-bottom: 100px;
}

.pages .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 90%;
    width: initial;
    height: initial;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pages .swiper-button-next:after, .swiper-button-prev:after {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: none!important;
    letter-spacing: 2px;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.pages .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    background: url(../img/Arrow_left.svg) left no-repeat;
    padding-left: 70px;
    content: 'ПРЕД';
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'СЛЕД';
    background: url(../img/Arrow_right.svg) right no-repeat;
    padding-right: 70px;
}

.page>img{
    box-shadow: #d1aa54e0 20px 20px 0px 1px;
}

.partners_swiper{
    max-width: 1110px;
    margin: 0 auto;
}

.partners_slide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.staging_slide{
    width: 442px;
    overflow: hidden;
}

.staging_bg{
    letter-spacing: 1px;
    background-color: #3333339c;
    position: absolute;
    top: 0;
    height: 100%;
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.5s;
}

.staging_bg:hover{
    background-color: rgba(0, 0, 0, 0);
}

.lupa{
    padding: 30px;
    background-color: #D1A954;
    border-radius: 50%;
    align-self: center;
    opacity: 0;
    transition: all 0.3s;
}

.staging_bg:hover>.lupa{
    opacity: 1;
}

.staging_bg>p{
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    opacity: 1;
    transition: all 0.3s;
}

.staging_bg>p:last-child{
    margin: 0 0 70px;
    font-size: 18px;
    font-weight: 600;
    transform: rotate(-90deg);
    opacity: 1;
    transition: all 0.3s;
}


.staging_bg:hover>p{
    opacity: 0;
}

.staging{
    padding: 80px 33px;
    margin: 0 auto;
}

.staging_swiper{
    max-width: 1770px;
}











































@media screen and (max-width: 575px) {

    .rating>ul {
        font-size: 52px;
    }

    .review>p {
        font-size: 22px;
    }

    .review>div>img {
        width: 20px;
    }

    body > footer > div > p:nth-child(1){
        margin-right: 20px;    
    }

    .contact_info {
        column-gap: 20px;
    }

    .chair, .history {
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .main{
        padding: 250px 114px 250px;
    }

    .about{
        max-width: 768px;
    }

    .about_wrap{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 40px;
    }

    .about h3{
        text-align: start;
    }

    .about p{
        text-align: start;
    }

    .numbers{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .chair{
        margin-bottom: 20px;
    }

    .rating{
        padding: 120px 100px;
    }

    .review>p{
        font-size: 29px;
    }

    form{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 30px;
        row-gap: 35px;
        margin-bottom: 70px;
    }

    input[type="submit"]{
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 0;
        align-self: start;
        justify-self: end;
        margin-top: 10px;
        width: 190px;
    }

    form>p{
        text-align: start;
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
        width: 100%;
    }

    form>fieldset{
        grid-template-columns: repeat(2,190px);
        column-gap: 30px;
        margin-bottom: 0;
    }

    input[type="text"], input[type="email"]{
        max-width: 180px;
    }

    textarea{
        width: 270px;
        margin-bottom: 0;
    }

    .maecenas{
        max-width: 768px;
    }

    footer{
        max-width: 768px;
    }

    .staging{
        padding: 90px 39px;
    }
}

@media screen and (min-width: 992px) {

    .menu_btn{
        display: none;
    }

    .close_btn{
        display: none;
    }

    .logos_mob{
        display: none;
    }

    .menu_links{
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    
    .menu_links>a{
        font-size: 18px;
        margin: 0;
        margin-right: 30px;
        white-space: nowrap;
    }

    .menu_links>a:last-of-type{
        margin-right: 0;
    }
    
    header>a{
        position: initial;
    }

    header nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        position: initial;
        top: initial;
        left: initial;
        padding: 50px 0;
        width:initial;
        height: initial;
        background: none;
    }
    
    header{
        padding: 0 80px 0 190px;
        width: 100%;
        height: initial;
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        top: 0;
    }
    
    .sidebar{
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-end;
        width: 150px;
        height: 100vh;
        background: #333333d5;
        padding-bottom: 85px;
    }    

    .sidebar>a{
        margin-top: 30px;
    }
    
    .sidebar>a>svg{
        fill:white;
        fill-opacity: 0.6;
        transition: all 0.3s;
    }

    .sidebar>a>svg:hover{
        fill:#D1A954;
        fill-opacity: 1;
    }

    .sidebar>p{
        transform: rotate(-90deg);
        white-space: nowrap;
    }

    .vertical_line{
        padding-left: 3px;
        background-color: #c4c4c4;
        height: 80px;
        margin-bottom: 10px;
        margin-top: 140px;
    }

    .main{
        padding: 380px 260px 380px 190px;
    }

    .about{
        padding: 170px 111px 110px 190px;
        max-width: 992px;
    }

    h2{
        margin-bottom: 120px;
    }

    .staging{
        padding: 150px 111px 150px 190px;
    }

    .rating{
        padding: 120px 100px 120px 200px;
    }

    .review{
        margin-left: 80px;
    }

    .review>p{
        font-size: 34px;
    }

    .partners{
        padding: 120px 111px 40px 191px;
    }

    .maecenas{
        padding: 120px 111px 40px 191px;
    }

    form{
        max-width: 691px;
        margin-left: auto;
        margin-right: auto;
    }

    footer>div{
        margin: 0 111px 0 191px;
        padding: 30px 0;
    }

    .maecenas{
        max-width: 992px;
    }

    footer{
        max-width: 992px;
    }
}

@media screen and (min-width: 1366px) {

    header{
        width: 100%;
        position: fixed;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        top: 0;
    }

    header>a{
        margin-left: 167px;
        position: initial;
        white-space: nowrap;
    }

    .maecenas_wrap{
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: flex-start;
        justify-content: center;
        max-width: 1110px;
        margin: 0 auto;
    }

    .contact_info{
        margin-top: 10px;
        grid-template-columns: repeat(1,auto);
        row-gap: 15px;
    }

    .contact_phone_1{
        grid-row: 1;
        grid-column: 1;
        text-align: start;
        white-space: nowrap;
    }
    
    .contact_phone_2{
        grid-row: 2;
        grid-column: 1;
        text-align: start;
    }
    
    .contact_email{
        grid-row: 3;
        grid-column: 1;
        text-align: start;
    }
    
    .contact_address{
        grid-row: 4;
        grid-column: 1;
        text-align: start;
    }

    form{
        max-width: 745px;
        margin-right: 0;
    }

    textarea{
        width: 310px;
    }

    .staging{
        padding: 150px 0 150px 190px;
    }

    .rating{
        max-width: 1110px;
        margin: 0 auto;
    }

    .review{
        margin-left: 120px;
    }

    .review>p{
        font-size: 36px;
    }

    .review>div>img{
        width: 26px;
        margin-right: 25px;
    }    

    .maecenas{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
        max-width: 1366px;
    }

    footer>div{
        padding: 30px 0;
        max-width: 1110px;
        margin: 0 auto;
    }

    .about{
        padding-left: 0;
        padding-right: 0;
        max-width: 1366px;
    }

    .about_wrap{
        grid-template-columns: repeat(3,auto);
        max-width: 1110px;
        margin: 0 auto;
    }

    .about_wrap>img{
        display: inline-block;
    }

    footer{
        max-width: 1366px;
    }

    .pages{
        min-width: 370px;
        margin-left: 125px;
        display: initial;
    }
    
    .main_wrap{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        max-width: 1050px;
        margin: 0 auto;
    }

    .main>.main_wrap>.main_about>h1{
        text-align: start;
    }
}

