@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@include media-md {
    nav{

        .nav_bar{
            align-items: center;
            justify-content: flex-start;
        
            .menu_btn{
                display: none;
            }
    
            .logo{
                margin-left: 20px;
            }
        }
    
        .menu_mob{
            visibility: visible;
        }
    
        .menu{
            height: 70px;
            right: 20px;
            margin-left: 100px;
            background: none;
            flex-flow: row nowrap;
            justify-content: flex-end;
            z-index: 5;
    
            li{
                margin: 0 10px;
                
                a{
                    font-size: 0.8em;
                }
            }
        }
    
    }

    .home_main{

        section{
            padding: 30px 30px 15px;

    
            h2{
                margin-bottom: 20px;
            }
            
            .home_items{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 30px;

                .home_item{
                    margin: 15px 0;
                }
            }
        }
    }

    .about_main{

        .about_item{

            .about_item_sub_wrap{

                img{
                    width: initial;
                    height: 130px;
                }
                
                p{
                    font-size: 1.1em;
                    margin: 0;
                }
            }

            &:nth-of-type(odd){

                .about_item_sub_wrap{
                    flex-flow: row nowrap;

                    img{
                        margin-right: 40px;
                    }
                }
            }

            &:nth-of-type(even){
                .about_item_sub_wrap{
                    flex-flow: row-reverse nowrap;
                    
                    img{
                        margin-left: 40px;
                    }
                }
            }
        }
    }

    .repairs_main{

        section{

            .repairs_item_wrap{
                flex-flow: row nowrap;
                align-items: flex-start;
                justify-content: center;
    
                img{
                    width: 150px;
                    margin: 20px 40px 20px 10px;
                }
            }
        }
    }

    .services_main{
        padding: 100px 0 20px;
        text-align: center;
    
        h1{
            font-size: 1.8em;
            margin: 20px auto;
            color: $secondary_color;
            width: 90%;
        }
    
        section{
            background: $secondary_color;
            width: 90%;
            margin: 50px auto 0;
            padding: 30px;
    
            .services_items{
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;
                justify-content: center;
                
                .services_item{
                    margin: 20px 10px;
                }
            }
        }
    }
}

@include media-lg{
    nav{
    
        .menu{

            li{
                
                a{
                    font-size: 1em;
                }
            }
        }
    
    }

    .home_main{

        section{
            margin: 50px auto 20px;
            padding: 30px 50px 35px;
            box-shadow: 10px 10px 0 $primary_bright, -10px -10px 0 black;
        }
    }

    .about_main{

        section{
            margin: 0 auto 35px;
            padding: 20px 50px;
            box-shadow: 10px 10px 0 $primary_bright, -10px -10px 0 black;
        }
    }

    .repairs_main{

        section{
            margin: 0 auto 35px;
            padding: 30px 50px;
            box-shadow: 10px 10px 0 $primary_bright, -10px -10px 0 black;
        }
    }

    .services_main{

        section{
            margin: 50px auto 20px;
            padding: 50px;
            box-shadow: 10px 10px 0 $primary_bright, -10px -10px 0 black;
        }
    }
    
    .contacts_main{

        section{
            margin: 20px auto;
            box-shadow: 10px 10px 0 $primary_bright, -10px -10px 0 black;
        }
    }

    body{

        footer{
            padding-left: 30px;
            justify-content: flex-start;
        }
    }
}

@include media-xl{
    nav{

        .nav_bar{

            .logo{
                position: static;
                margin-left: 50px;
            }

            .menu_phone{
                position: static;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: center;
                width: initial;
                background: none;
                height: initial;
                margin-left: 50px;

                p{
                    margin: 3px 0;
                }
            }
        }

        .menu{
            right: 50px;
        }
    }

    .home_main{

        section{
            width: 80%;
            max-width: 1600px;
            padding: 30px 30px 35px;

            .home_items{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    .about_main{

        .about_main_wrap{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 30px;
            width: 80%;
            max-width: 1600px;
            margin-top: 30px;

            .about_item{
                width: 100%;
                margin: 0 auto 20px;
                padding: 10px;
                justify-content: space-between;
                
                .about_item_sub_wrap{
                    flex-flow: column nowrap;
                    
                    img{
                        margin: 0 0 30px 0;
                    }
                }
            }
        }

    }

    .repairs_main{

        .repairs_main_wrap{
            width: 70%;
            margin: 0 auto 20px;
            max-width: 1600px;

            section{
                width: 100%;
            }
        }
    }

    .services_main{

        section{
            width: 80%;
            max-width: 1600px;
            
            .services_items{

                .services_item{
                    margin: 20px 20px;
                }
            }
        }
    }

    body{
        .side_animation_left{
            display: block;
            position: fixed;
            top: 0;
            z-index: -1;

            div{
                position: fixed;
                width: 50px;
                height: 100vh;

                &:first-of-type{
                    background: url(../img/1.svg) repeat-y center;
                    left: 5px;
                    animation: side-reverse 45s alternate-reverse infinite linear;
                }
                &:last-of-type{
                    background: url(../img/2.svg) repeat-y center;
                    left: 15px;
                    animation: side 45s alternate-reverse infinite linear;
                }
            }
        }
        
        .side_animation_right{
            display: block;
            position: fixed;
            top: 0;
            z-index: -1;
    
            div{
                position: fixed;
                width: 50px;
                height: 100vh;

                &:first-of-type{
                    background: url(../img/1.svg) repeat-y center;
                    transform: scale(-1,1);
                    right: 5px;
                    animation: side 45s alternate-reverse infinite linear;
                }
                &:last-of-type{
                    background: url(../img/2.svg) repeat-y center;
                    transform: scale(-1,1);
                    right: 15px;
                    animation: side-reverse 45s alternate-reverse infinite linear;
                }
            }
        }
    }
}