@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: #314584;
    font-weight: 600;
    font-size: 14px;
}

header{
    position: fixed;
    top: 0;
}

.mobMenuButton{
    position: fixed;
    top: 5px;
    left: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    z-index: 3;
}

.burgerMiddle{
    height: 5px;
    background-color: #314584;
    width: 100%;
}
.burgerMiddle::before{
    content: ' ';
    position: fixed;
    top: 13px;
    left: 10px;
    padding-bottom: 5px;
    background-color: #314584;
    width: 45px;
}
.burgerMiddle::after{
    content: ' ';
    position: fixed;
    top: 37px;
    left: 10px;
    height: 5px;
    background-color: #314584;
    width: 45px;
}

.logo{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid #314584;
    z-index: 2;
}

.logo>img{
    position: fixed;
    top: 10px;
    left: calc(50% - 40px);
    width: 80px;
}

.leftNav{
    position: fixed;
    top:-300px;
    z-index: -1;
    background-color: white;
    width: 100vw;
    padding-bottom: 20px;
    transition: all 0.3s;
    border-bottom: 1px solid #314584;
    overflow-y: scroll;
}

.leftNavList{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}

.leftNavItem{
    margin-top: 20px;
}

.leftNavLink{
    font-weight: 600;
    font-size: 24px;
}


.showMenu{
    top: 54px;
}

.rightNavContact{
    display: none;
}

.lang{
    position: fixed;
    right: 10px;
    top: 15px;
    font-weight: 600;
    color: #314584;
    font-size: 20px;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.lang>svg{
    margin-left: 3px;
    margin-bottom: 2px;
}

.lang>svg>path{
    fill: #314584;
}

.title{
    max-width: 500px;
    margin: 0 auto;
    padding: 150px 15px;
    text-align: center;
}

.mainTitle{
    color: #314584;
    font-size: 50px;
    font-weight: 600;
    margin: 0 0 20px;
}

.mainSubtitle{
    color: #787e83;
    font-size: 14px;
}

.titleButtons{
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:center;
}

.buttonRed{
    padding: 13px 25px;
    border-radius: 20px;
    margin-right: 20px;
    color: white;
    background-color: #ff3946;
}

.illustration{
    display: none;
}

.portfolio{
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 200px;
}

.titleLeft{
    color: #314584;
    font-weight: 600;
    font-size: 38px;
    margin: 0;
}

.gallery{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    column-gap: 30px;
    row-gap: 30px;
}

.linkRed{
    color: #ff3946;
    align-self: center;
    margin-top: 55px;
}

.contact{
    padding: 15px;
}

.textRed{
    font-weight: 600;
    color: #ff3946;
    font-size: 14px;
    margin-bottom: 15px;
}

fieldset{
    padding: 0;
    margin: 0;
    border: none;
}

form{
    margin-top: 50px;
}

.formUpper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
    margin-bottom: 30px;
}

input[type="text"]{
    outline: none;
    border: none;
    background-color: #f4fafe;
    color: #314584;
    padding: 15px 15px 20px;
}

input[type="text"]::placeholder{
    color: #314584;
    font-size: 14px;
    font-weight: 600;
}

textarea{
    outline: none;
    border: none;
    background-color: #f4fafe;
    color: #314584;
    padding: 15px 15px 20px; 
}

textarea::placeholder{
    color: #314584;
    font-size: 14px;
    font-weight: 600;
}

.formMiddle{
    display: grid;
    grid-template-columns: 1fr;
}

.formBottom{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn{
    border: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 60px;
}

footer{
    padding: 70px 15px 54px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #314584;
    color: white;
}

.doobFooter{
    font-size: 14px;
    margin-bottom: 15px;
}

.creativity{
    margin: 0;
    color: #ff3946;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
}

.footerNavList{
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center;
}

.footerNavLink{
    color: white;
}

.footerNavItem{
    margin: 15px;
}
.copy{
    font-size: 11px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.social{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.socialLogo{
    margin-right: 80px;
    width: 40px;
}
.socialLogo:last-of-type{
    margin-right: 0;
}






































@media screen and (min-width: 769px) {

    a{
        font-size: 18px;
        transition: all 0.3s;
        border-radius: 5px;
        padding: 15px 25px;
    }

    a:hover{
        box-shadow: 0px 3px 5px rgb(201, 201, 201);
        color: #ff3946;
    }

    body{
        padding-top: 0;
    }

    .hero{
        max-width: 1920px;
        margin: 0 auto;
    }

    header{
        padding: 80px 0 0 0;
        width: 100%;
        position: initial;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }
    
    .mobMenuButton{
        display: none;
    }
    
    .logo{
        position: initial;
        min-width: 70px;
        width: 70px;
        height: initial;
        background: none;
        border-bottom: none;
        margin-left: 7px;
        margin-bottom: 20px;
    }
    
    .logo>img{
        position: initial;
        width: initial;
    }
    
    .leftNav{
        position: initial;
        background-color: initial;
        width: initial;
        padding-bottom: 0;
        border-bottom: none;
        overflow-y: initial;
        margin: 0 0 20px 0;
        z-index: 2;
    }
    
    .leftNavList{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 0;
    }
    
    .leftNavItem{
        margin: 0 5px;
    }
    
    .leftNavLink{
        white-space: nowrap;
        font-size: 18px;
    }

    .rightNav{
        display: flex;
        flex-flow: row nowrap;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .rightNavContact{
        display: flex;
        flex-flow: row nowrap;
        transition: all 0.5s;
        margin-left: 10px;
        white-space: nowrap;
        align-items: flex-end;
    }

    .rightNavContact:hover{
        color: #ff3946;
    }

    .rightNavContact>svg{
        margin-left: 15px;
        margin-bottom: -3px;
    }

    .rightNavContact>svg>path{
        transition: all 0.3s;
        fill: #314584;
    }

    .rightNavContact:hover>svg>path{
        fill: #ff3946;
    }

    
    .lang{
        position: initial;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 15px;
    }
    
    .lang:hover{
        color: #ff3946;
        box-shadow: 0px 3px 5px rgb(201, 201, 201);
    }
    
    .lang>svg>path{
        transition: all 0.3s;
    }

    .lang:hover>svg>path{
        fill: #ff3946;
    }
    
    .title{
        max-width: 550px;
        margin: 0 10% 0 0;
        padding: 0;
        text-align: start;
    }
    
    .mainTitle{
        font-size: 74px;
    }
    
    .mainSubtitle{
        font-size: 18px;
    }
    
    .titleButtons{
        align-items: center;
        justify-content:flex-start;
    }
    
    .buttonRed{
        padding: 20px 35px;
        border-radius: 30px;
        margin-right: 40px;
        box-shadow: 0px 3px 5px #ffaeb4;
    }
    .buttonRed:hover{
        color: white;
        box-shadow: 0px 3px 5px #ffaeb4;
    }

    .homeWrap{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 15px 0 10%;
        margin-bottom: 190px;
    }
    
    .illustration{
        display: block;
        width: 100%;
        min-width: 0px;
        max-width: 680px;
        overflow: hidden;
    }
    
    .portfolio{
        max-width: 1185px;
        margin: 0 auto 200px;
        padding: 15px;
    }
    
    .titleLeft{
        color: #314584;
        font-weight: 600;
        font-size: 48px;
        margin: 0;
    }
    
    .gallery{
        margin-top: 90px;
        grid-template-columns: repeat(3,1fr);
    }
    
    .contact{
        max-width: 1185px;
        margin: 0 auto;
        padding: 15px;
    }
    
    .textRed{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    form{
        margin-top: 60px;
    }
    
    .formUpper{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 30px;
        margin-bottom: 30px;
    }
    
    input[type="text"]{
        padding: 20px 20px 30px;
    }
    
    input[type="text"]::placeholder{
        font-size: 18px;
    }
    
    textarea{
        padding: 20px 20px 30px;
    }
    
    textarea::placeholder{
        font-size: 18px;
    }
    
    .formBottom{
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .submitBtn{
        font-size: 18px;
        cursor: pointer;
        margin: 0 0 60px 0;
    }
    
    footer{
        padding: 70px 0 54px;
    }
    
    .doobFooter{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .creativity{
        font-size: 48px;
        margin-bottom: 10px;
    }
    
    
    .footerNavItem{
        margin: 22px;
    }

    .footerNavLink:hover{
        box-shadow: none;
    }

    .copy{
        font-size: 14px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    
    .socialLogo{
        margin-right: 70px;
        width: 40px;
    }
    .socialLogo:hover{
        box-shadow: none;
    }
    .socialLogo:last-of-type{
        margin-right: 0;
    }    

    .slick-slide {
        margin: 0 27px;
    }

    .slick-list {
        margin: 0 -27px;
    }
}